@font-face {
    font-family: 'postnobillscolombo-semibold';
    src: url(postnobillscolombo-semibold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MateSC-Regular';
    src: url(MateSc-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main {
    display: flex;
    width:375px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background: #81858e;
}

.header {
    width: 100%;
    height: 85px;
    background: #3C4049;
}

.footer {
    width: 100%;
    height: 85px;
    background: #3C4049;
}

.headText {
    font-family: 'postnobillscolombo-semibold';
    font-size: 64px;
    color: #C28F22;
    -webkit-text-stroke: 1px #2d313a;
    margin : 0;
    padding : 0;
}

.inputsBox {
    width: 204px ;
    display: flex;
    flex-wrap: wrap;
}

.priceBox {
    height: 241px;
    width: 327px;
    background: #D4D4D4;
    margin-bottom: 21px;
    margin-top: 18px;

    border-radius: 5px;
    border: 1px solid #000000;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.button {
    width: 95px;
    height: 36px;
    background: #c38f22;

    border-radius: 5px;
    border: 1px solid #2d313a;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.28);

    margin-top: 20px;

    font-size: 18px;
    font-family: 'MateSC-Regular';
}

.input {
    height: 30px;
    width: 100%;
    background-color: #D4D4D4;

    border: 1px solid #C28F22;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px #45320c;

    margin-top: 5px;

    text-align: center;
    font-size: 18px;
}

.inputLabel {
    width: 100%;
    text-align: center;

    font-size: 24px;
    margin-top: 5px;

    font-family: 'MateSC-Regular';
}

.selectBox {
    display: flex;
    justify-content: center;

    margin-top: 15px;
}

.selectLabelBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selectLabel {
    width: 100%;
    font-size: 12px;
    text-align: center;

    font-family: 'MateSC-Regular';
}

.select{
    height: 34px;
    width: 59px;
    margin-top: 3px;

    background-color: #d5d5d5;

    border-radius: 4px;
    border: 1px solid #C28F22;
    box-shadow: 0px 0px 1px 1px #45320c;

    font-size: 24px;
    text-align: center;
}

.percentBox {
    margin-left: 25px;
}

.riskRewardBox {
    margin-right: 25px;
    
}

.priceLine {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-shrink: 0;
    margin-top: 15px;

    width: 283px;

    border-bottom: 1px solid black;

    justify-content: space-between;
}

p {
    margin: 0;
    margin-left: 2px;
}